@import '../../_css/common';

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2);
  padding: 0.5rem 0;

  @include mid-break {
    flex-direction: column;
  }
}

.price {
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0.225rem 0.225rem;
  background-color: var(--color-dark-500-50);
  border-radius: 0.250rem;

  > * {
    margin: 0;
  }

  @include small-break {
    grid-template-colums: 1fr;
    font-size: 16p;
  }
}

.priceBreakdown {
  color: var(--theme-elevation-500);
}
