@import '../../_css/common';

.container {
  width: 100%;
  margin: 50px 0;
  text-decoration: none;

  @include small-break {
    margin-top: 30px;
  }
}

.account {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 60px;
  margin-top: 30px;

  @include small-break {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
  }
}

.nav {
  border: 2px solid var(--color-dark-50);
  display: flex;
  flex-direction: column;
  height: min-content;
  border-radius: 0.725rem;
}

.navItem {
  display: flex;
  gap: 12px;
  padding: 1rem;
  text-decoration: none;
  transition: 150ms;
}
.nav li:hover:nth-child(4){
  background-color: var(--color-white-500-05);
  border-bottom-left-radius: 0.725rem;
  border-bottom-right-radius: 0.725rem;
}

.navItem:hover{
  background-color: var(--color-white-500-05);
}

.personalInfo {
  margin-bottom: 30px;
}
