@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: var(--color-white-500-20);
  min-height: 360px;
  width: 100%;
  border-radius: 0.625rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms;
}
.card:hover{
  background-color: var(--color-white-500-30);
}

.title {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  text-align: center;
  background-color: var(--color-dark-500-30);
}