@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 6) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
    padding: 5px 10px !important;
    transition: 100ms;
    border-radius: 0.515rem;
  }
  > *:hover{
    background-color: var(--color-white-500-05);
  }
}
.hide {
  opacity: 0;
  visibility: hidden;
}
